# enableNEI: BooleanOption
# blockClass: StringSetOption
# tileEntityClass: StringSetOption
# autoDetectCuttableBlocks: BooleanOption
# cuttableBlock: ItemAndMetaListOption

enableNEI: false

# included by default: blockClass: buildcraft.transport.BlockGenericPipe
# included by default: blockClass: ic2.core.block.wiring.BlockCable
# included by default: blockClass: appeng.common.base.AppEngMultiBlock
# included by default: blockClass: powercrystals.minefactoryreloaded.block.BlockRedNetCable
# included by default: blockClass: micdoodle8.mods.galacticraft.core.blocks.GCCoreBlockOxygenPipe
# included by default: blockClass: thermalexpansion.block.conduit.BlockConduit

# included by default: tileEntityClass: buildcraft.transport.TileGenericPipe
# included by default: tileEntityClass: ic2.core.block.wiring.TileEntityCable
# included by default: tileEntityClass: appeng.me.tile.TileCable
# included by default: tileEntityClass: appeng.me.tile.TileDarkCable
# included by default: tileEntityClass: appeng.me.tile.TileInputCable
# included by default: tileEntityClass: appeng.me.tile.TileOutputCable
# included by default: tileEntityClass: appeng.me.tile.TileLevelEmitter
# included by default: tileEntityClass: appeng.me.tile.TileStorageBus
# included by default: tileEntityClass: appeng.me.tile.TileColorlessCable
# included by default: tileEntityClass: powercrystals.minefactoryreloaded.tile.rednet.TileEntityRedNetCable
# included by default: tileEntityClass: micdoodle8.mods.galacticraft.core.tile.GCCoreTileEntityOxygenPipe
# included by default: tileEntityClass: thermalexpansion.block.conduit.TileConduitEnergy
# included by default: tileEntityClass: thermalexpansion.block.conduit.TileConduitLiquid

autoDetectCuttableBlocks: false

cuttableBlock: 252:0
cuttableBlock: 253:0
cuttableBlock: 253:1
cuttableBlock: 253:2
cuttableBlock: 254:0
cuttableBlock: 254:1
cuttableBlock: 254:2
cuttableBlock: 255:0
cuttableBlock: 451:7
cuttableBlock: 451:12
cuttableBlock: 451:3
cuttableBlock: 451:14
cuttableBlock: 451:9
cuttableBlock: 451:10
cuttableBlock: 457:0
cuttableBlock: 457:2
cuttableBlock: 457:1
cuttableBlock: 457:4
cuttableBlock: 457:6
cuttableBlock: 457:7
cuttableBlock: 458:0
cuttableBlock: 458:1
cuttableBlock: 458:2
cuttableBlock: 458:3
cuttableBlock: 458:4
cuttableBlock: 462:0
cuttableBlock: 466:0
cuttableBlock: 466:1
cuttableBlock: 466:2
cuttableBlock: 466:3
cuttableBlock: 466:4
cuttableBlock: 466:5
cuttableBlock: 467:0
cuttableBlock: 467:1
cuttableBlock: 467:2
cuttableBlock: 467:3
cuttableBlock: 467:4
cuttableBlock: 467:5
cuttableBlock: 468:0
cuttableBlock: 468:1
cuttableBlock: 468:2
cuttableBlock: 468:3
cuttableBlock: 468:4
cuttableBlock: 468:5
cuttableBlock: 469:0
cuttableBlock: 469:1
cuttableBlock: 469:2
cuttableBlock: 469:3
cuttableBlock: 469:4
cuttableBlock: 469:5
cuttableBlock: 470:0
cuttableBlock: 470:1
cuttableBlock: 470:2
cuttableBlock: 470:3
cuttableBlock: 470:4
cuttableBlock: 470:5
cuttableBlock: 471:0
cuttableBlock: 471:1
cuttableBlock: 471:2
cuttableBlock: 471:3
cuttableBlock: 471:4
cuttableBlock: 471:5
cuttableBlock: 472:0
cuttableBlock: 472:1
cuttableBlock: 472:2
cuttableBlock: 472:3
cuttableBlock: 472:4
cuttableBlock: 472:5
cuttableBlock: 1203:0
cuttableBlock: 1204:0
cuttableBlock: 1205:0
cuttableBlock: 1206:0
cuttableBlock: 1210:0
cuttableBlock: 1221:0
cuttableBlock: 1376:0
cuttableBlock: 1377:0
cuttableBlock: 1380:0
cuttableBlock: 1380:1
cuttableBlock: 1380:2
cuttableBlock: 1380:3
cuttableBlock: 1380:4
cuttableBlock: 1380:5
cuttableBlock: 1380:6
cuttableBlock: 1380:7
cuttableBlock: 1380:8
cuttableBlock: 1380:9
cuttableBlock: 1380:10
cuttableBlock: 1380:11
cuttableBlock: 1380:12
cuttableBlock: 1380:13
cuttableBlock: 1380:14
cuttableBlock: 1380:15
cuttableBlock: 1388:0
cuttableBlock: 1388:1
cuttableBlock: 1388:2
cuttableBlock: 1388:3
cuttableBlock: 1389:0
cuttableBlock: 1389:1
cuttableBlock: 1389:2
cuttableBlock: 1389:3
cuttableBlock: 1390:0
cuttableBlock: 1390:1
cuttableBlock: 1390:2
cuttableBlock: 1390:3
cuttableBlock: 1391:0
cuttableBlock: 1391:1
cuttableBlock: 1391:2
cuttableBlock: 1391:3
cuttableBlock: 1397:0
cuttableBlock: 1397:1
cuttableBlock: 1398:0
cuttableBlock: 1398:1
cuttableBlock: 1398:2
cuttableBlock: 1399:1
cuttableBlock: 1399:2
cuttableBlock: 1399:3
cuttableBlock: 1399:4
cuttableBlock: 1399:6
cuttableBlock: 1399:7
cuttableBlock: 1406:0
cuttableBlock: 1406:1
cuttableBlock: 1406:2
cuttableBlock: 1407:0
cuttableBlock: 1407:1
cuttableBlock: 1407:2
cuttableBlock: 1408:0
cuttableBlock: 1408:1
cuttableBlock: 1408:2
cuttableBlock: 1411:0
cuttableBlock: 1411:1
cuttableBlock: 1411:2
cuttableBlock: 1411:3
cuttableBlock: 1412:0
cuttableBlock: 1412:1
cuttableBlock: 1412:2
cuttableBlock: 1412:3
cuttableBlock: 1417:0
cuttableBlock: 1417:1
cuttableBlock: 1417:2
cuttableBlock: 1417:3
cuttableBlock: 1417:4
cuttableBlock: 1417:5
cuttableBlock: 1417:6
cuttableBlock: 1417:7
cuttableBlock: 1467:0
cuttableBlock: 1467:1
cuttableBlock: 1467:2
cuttableBlock: 1467:3
cuttableBlock: 1467:4
cuttableBlock: 1467:5
cuttableBlock: 1467:6
cuttableBlock: 1467:7
cuttableBlock: 1467:8
cuttableBlock: 1467:9
cuttableBlock: 1467:10
cuttableBlock: 1467:11
cuttableBlock: 1467:12
cuttableBlock: 1467:13
cuttableBlock: 1467:14
cuttableBlock: 1467:15
cuttableBlock: 1474:2
cuttableBlock: 1474:4
cuttableBlock: 1474:5
cuttableBlock: 1474:6
cuttableBlock: 1474:7
cuttableBlock: 1474:8
cuttableBlock: 1474:9
cuttableBlock: 1474:10
cuttableBlock: 1474:11
cuttableBlock: 1475:1
cuttableBlock: 1475:2
cuttableBlock: 1475:3
cuttableBlock: 1475:4
cuttableBlock: 1475:5
cuttableBlock: 1476:0
cuttableBlock: 1476:1
cuttableBlock: 1476:2
cuttableBlock: 1476:3
cuttableBlock: 1476:4
cuttableBlock: 1476:5
cuttableBlock: 1478:0
cuttableBlock: 1478:1
cuttableBlock: 1478:2
cuttableBlock: 1478:3
cuttableBlock: 1478:4
cuttableBlock: 1478:5
cuttableBlock: 1478:6
cuttableBlock: 1478:7
cuttableBlock: 1478:8
cuttableBlock: 1478:9
cuttableBlock: 1478:10
cuttableBlock: 1481:0
cuttableBlock: 1481:1
cuttableBlock: 1481:2
cuttableBlock: 1481:3
cuttableBlock: 1481:4
cuttableBlock: 1481:5
cuttableBlock: 1481:6
cuttableBlock: 1481:7
cuttableBlock: 1481:8
cuttableBlock: 1481:9
cuttableBlock: 1481:10
cuttableBlock: 1481:11
cuttableBlock: 1481:12
cuttableBlock: 1481:13
cuttableBlock: 1488:0
cuttableBlock: 1488:1
cuttableBlock: 1488:2
cuttableBlock: 1488:3
cuttableBlock: 1488:4
cuttableBlock: 1488:5
cuttableBlock: 1489:0
cuttableBlock: 1489:1
cuttableBlock: 1489:2
cuttableBlock: 1489:3
cuttableBlock: 1489:4
cuttableBlock: 1489:5
cuttableBlock: 1489:6
cuttableBlock: 1523:0
cuttableBlock: 1524:0
cuttableBlock: 2000:0
cuttableBlock: 2000:1
cuttableBlock: 2000:2
cuttableBlock: 2000:3
cuttableBlock: 2000:4
cuttableBlock: 2000:5
cuttableBlock: 2000:6
cuttableBlock: 2000:7
cuttableBlock: 2001:0
cuttableBlock: 2001:1
cuttableBlock: 2001:2
cuttableBlock: 2001:3
cuttableBlock: 2001:4
cuttableBlock: 2001:5
cuttableBlock: 2001:6
cuttableBlock: 2001:7
cuttableBlock: 2002:0
cuttableBlock: 2002:1
cuttableBlock: 2002:2
cuttableBlock: 2002:3
cuttableBlock: 2002:4
cuttableBlock: 2002:5
cuttableBlock: 2002:6
cuttableBlock: 2002:7
cuttableBlock: 2003:0
cuttableBlock: 2003:1
cuttableBlock: 2003:2
cuttableBlock: 2003:3
cuttableBlock: 2003:4
cuttableBlock: 2003:5
cuttableBlock: 2003:6
cuttableBlock: 2003:7
cuttableBlock: 2006:0
cuttableBlock: 2006:1
cuttableBlock: 2006:3
cuttableBlock: 2006:4
cuttableBlock: 2006:5
cuttableBlock: 2006:6
cuttableBlock: 2006:7
cuttableBlock: 2008:0
cuttableBlock: 2008:1
cuttableBlock: 2008:3
cuttableBlock: 2008:4
cuttableBlock: 2008:5
cuttableBlock: 2008:6
cuttableBlock: 2008:7
cuttableBlock: 2009:0
cuttableBlock: 2009:1
cuttableBlock: 2009:2
cuttableBlock: 2009:3
cuttableBlock: 2009:4
cuttableBlock: 2009:5
cuttableBlock: 2009:6
cuttableBlock: 2009:7
cuttableBlock: 2010:0
cuttableBlock: 2010:1
cuttableBlock: 2010:2
cuttableBlock: 2010:3
cuttableBlock: 2010:4
cuttableBlock: 2010:5
cuttableBlock: 2010:6
cuttableBlock: 2010:7
cuttableBlock: 2011:0
cuttableBlock: 2011:1
cuttableBlock: 2011:2
cuttableBlock: 2011:3
cuttableBlock: 2011:4
cuttableBlock: 2011:5
cuttableBlock: 2011:6
cuttableBlock: 2011:7
cuttableBlock: 2163:0
cuttableBlock: 2163:1
cuttableBlock: 2163:2
cuttableBlock: 2163:3
cuttableBlock: 2164:0
cuttableBlock: 2164:1
cuttableBlock: 2164:2
cuttableBlock: 2164:3
cuttableBlock: 2165:0
cuttableBlock: 2165:1
cuttableBlock: 2165:2
cuttableBlock: 2165:3
cuttableBlock: 2165:4
cuttableBlock: 2165:5
cuttableBlock: 2165:6
cuttableBlock: 2165:7
cuttableBlock: 2166:0
cuttableBlock: 2166:1
cuttableBlock: 2170:0
cuttableBlock: 2170:1
cuttableBlock: 2172:0
cuttableBlock: 2173:0
cuttableBlock: 2173:8
cuttableBlock: 2173:1
cuttableBlock: 2173:11
cuttableBlock: 2174:1
cuttableBlock: 2174:13
cuttableBlock: 2176:0
cuttableBlock: 2176:1
cuttableBlock: 2176:2
cuttableBlock: 2176:3
cuttableBlock: 2179:0
cuttableBlock: 2179:1
cuttableBlock: 2179:2
cuttableBlock: 2179:3
cuttableBlock: 2180:0
cuttableBlock: 2180:1
cuttableBlock: 2180:2
cuttableBlock: 2180:3
cuttableBlock: 2180:4
cuttableBlock: 2181:0
cuttableBlock: 2181:2
cuttableBlock: 2181:4
cuttableBlock: 2181:5
cuttableBlock: 2181:6
cuttableBlock: 2181:9
cuttableBlock: 2181:10
cuttableBlock: 2181:12
cuttableBlock: 2182:0
cuttableBlock: 2200:0
cuttableBlock: 2200:1
cuttableBlock: 2200:2
cuttableBlock: 2200:3
cuttableBlock: 2204:0
cuttableBlock: 2204:1
cuttableBlock: 2204:2
cuttableBlock: 2204:3
cuttableBlock: 2208:0
cuttableBlock: 2208:1
cuttableBlock: 2208:2
cuttableBlock: 2208:3
cuttableBlock: 2209:0
cuttableBlock: 2209:1
cuttableBlock: 2209:2
cuttableBlock: 2211:0
cuttableBlock: 2211:1
cuttableBlock: 2211:2
cuttableBlock: 2212:0
cuttableBlock: 2212:1
cuttableBlock: 2212:2
cuttableBlock: 2213:0
cuttableBlock: 2213:1
cuttableBlock: 2213:2
cuttableBlock: 2214:0
cuttableBlock: 2215:0
cuttableBlock: 2215:1
cuttableBlock: 2215:2
cuttableBlock: 2215:3
cuttableBlock: 2215:4
cuttableBlock: 2215:5
cuttableBlock: 2215:6
cuttableBlock: 2215:7
cuttableBlock: 2215:8
cuttableBlock: 2225:0
cuttableBlock: 2226:0
cuttableBlock: 2226:1
cuttableBlock: 2226:2
cuttableBlock: 2226:3
cuttableBlock: 2227:0
cuttableBlock: 2228:0
cuttableBlock: 2229:0
cuttableBlock: 2231:0
cuttableBlock: 2231:1
cuttableBlock: 2231:2
cuttableBlock: 2237:0
cuttableBlock: 2303:0
cuttableBlock: 2303:1
cuttableBlock: 2303:2
cuttableBlock: 2303:3
cuttableBlock: 2303:4
cuttableBlock: 2303:5
cuttableBlock: 2303:6
cuttableBlock: 2303:7
cuttableBlock: 2303:8
cuttableBlock: 2303:9
cuttableBlock: 2303:10
cuttableBlock: 2303:11
cuttableBlock: 2303:12
cuttableBlock: 2303:13
cuttableBlock: 2303:14
cuttableBlock: 2303:15
cuttableBlock: 3001:0
cuttableBlock: 3003:0
cuttableBlock: 3003:1
cuttableBlock: 3003:2
cuttableBlock: 3003:3
cuttableBlock: 3003:4
cuttableBlock: 3003:5
cuttableBlock: 3004:0
cuttableBlock: 3004:1
cuttableBlock: 3004:2
cuttableBlock: 3004:3
cuttableBlock: 3004:4
cuttableBlock: 3004:5
cuttableBlock: 3014:0
cuttableBlock: 3015:0
cuttableBlock: 3015:1
cuttableBlock: 3015:2
cuttableBlock: 3015:3
cuttableBlock: 3025:0
cuttableBlock: 3026:0
cuttableBlock: 3027:0
cuttableBlock: 3221:0
cuttableBlock: 3226:0
cuttableBlock: 3226:1
cuttableBlock: 3237:0
cuttableBlock: 3237:1
cuttableBlock: 3238:0
cuttableBlock: 3240:0
cuttableBlock: 3242:0
cuttableBlock: 3251:0
cuttableBlock: 3251:1
cuttableBlock: 3251:2
cuttableBlock: 3251:3
cuttableBlock: 3258:0
cuttableBlock: 3258:1
cuttableBlock: 3258:2
cuttableBlock: 3258:3
cuttableBlock: 3259:0
cuttableBlock: 3259:1
cuttableBlock: 3259:2
cuttableBlock: 3261:0
cuttableBlock: 3261:1
cuttableBlock: 3261:2
cuttableBlock: 3262:0
cuttableBlock: 3262:1
cuttableBlock: 3262:2
cuttableBlock: 3262:3
cuttableBlock: 3262:4
cuttableBlock: 3262:5
cuttableBlock: 3262:6
cuttableBlock: 3262:7
cuttableBlock: 3262:8
cuttableBlock: 3262:9
cuttableBlock: 3262:10
cuttableBlock: 3262:11
cuttableBlock: 3262:12
cuttableBlock: 3263:0
cuttableBlock: 3263:15
cuttableBlock: 3271:0
cuttableBlock: 3271:1
cuttableBlock: 3272:0
cuttableBlock: 3272:1
cuttableBlock: 3272:2
cuttableBlock: 3272:3
cuttableBlock: 3277:0
cuttableBlock: 3277:1
cuttableBlock: 3277:2
cuttableBlock: 3277:3
cuttableBlock: 3278:0
cuttableBlock: 3278:1
cuttableBlock: 3278:2
cuttableBlock: 3278:3
cuttableBlock: 3280:0
cuttableBlock: 3283:0
cuttableBlock: 3283:1
cuttableBlock: 3283:2
cuttableBlock: 3283:3
cuttableBlock: 3283:4
cuttableBlock: 3283:5
cuttableBlock: 3283:6
cuttableBlock: 3283:7
cuttableBlock: 3283:8
cuttableBlock: 3283:9
cuttableBlock: 3283:10
cuttableBlock: 3283:11
cuttableBlock: 3283:12
cuttableBlock: 3284:0
cuttableBlock: 3284:1
cuttableBlock: 3284:2
cuttableBlock: 3284:3
cuttableBlock: 3284:4
cuttableBlock: 3284:5
cuttableBlock: 3284:6
cuttableBlock: 3284:7
cuttableBlock: 3284:8
cuttableBlock: 3284:9
cuttableBlock: 3284:10
cuttableBlock: 3284:11
cuttableBlock: 3284:12
cuttableBlock: 3286:0
cuttableBlock: 3286:1
cuttableBlock: 3286:2
cuttableBlock: 3502:0
cuttableBlock: 3502:1
cuttableBlock: 3502:2
cuttableBlock: 3502:3
cuttableBlock: 3502:4
cuttableBlock: 3502:5
cuttableBlock: 3502:6
cuttableBlock: 3502:7
cuttableBlock: 3502:8
cuttableBlock: 3502:9
cuttableBlock: 3502:10
cuttableBlock: 3502:11
cuttableBlock: 3502:12
cuttableBlock: 3502:13
cuttableBlock: 3502:14
cuttableBlock: 3502:15
cuttableBlock: 3903:0
cuttableBlock: 3943:0
cuttableBlock: 3943:1
cuttableBlock: 3943:2
cuttableBlock: 3943:3
