# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=309228f0-e62b-40df-b560-a77a1177fa9e

    # Set to true to disable all reporting
    B:opt-out=false
}


